<!DOCTYPE html>
<html>
<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}
	
	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
	
	tr:nth-child(even) {
		background-color: #dddddd;
	}
	
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	
	}
	a {
		text-decoration: none;
		display: inline-block;
		padding: 8px 16px;
	}
	
	/*a:hover {
		background-color: #ddd;
		color: black;
	}*/
	
	.previous {
		background-color: #f1f1f1;
		color: black;
	}
	
	.next {
		background-color: #4CAF50;
		color: white;
	}
	
	.round {
		border-radius: 50%;
	}
	
	.auto-width{
		width: -webkit-fill-available;
		@media screen and (max-width: 700px) {
			width: max-content;
		}
	}	  
		
	</style>
<head>
	<title>Delete Product</title>
	<% include ../partials/head %>
	<style>
	  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
</style>
</head>
<header>
    <% include ../partials/header%>
  </header>
<body id="index" class="auto-width">

			<div class="row" style="display: flex; justify-content: center;">
				<div class="panel-primary" style="width: 500px;height:100px; margin-top: 40px">
					<div class="panel-heading font" style="width: 500px; margin: auto;">
						<h2>Delete Post: <%= result[0].lost_name%></h2>
						<p>Post ID: <%= data.id %></p>
						<a style="color:azure" href="/user/resolve/<%=data.id%>"><h4>Issue resolved? Click Here.</h4></a>
						<form method="post">
						<center><button class="contentbutton" style="width:50%;margin-left:10px" type="submit">Delete</button></center>
							<input type="Hidden" name="id" value="<%= data.id%>">
						</form>
						<center><button class="button" style="width:50%;margin-left:10px;" onclick="goBack()">Back</button>
		 				<script>
		 					function goBack() {
		 						window.history.back();
		 					}
		 				</script></center>

						</div></div></div>
						<div style="margin-top: 100px;">
							<% include ../partials/footer %>
						</div>
</body>
</html>