<!DOCTYPE html>
<html>
<head>
	<title>Delete Product</title>
	<% include ../partials/head %>
	<style>
	  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
</style>
</head>
<body="index">

			<div class="col-md-5 full-panel" style="margin-left: 400px;">
				<div class="panel panel-primary" style="width: 500px;height:100px; margin-top: -40px">
					<div class="panel-heading font" style="width: 500px; margin: auto;">
						<h2>Delete</h2>
						<p>Post ID: <%= id %></p>
						<form method="post">
						<center><button class="contentbutton" style="width:50%;margin-left:10px" type="submit">Delete</button></center>
							<input type="Hidden" name="id" value="<%=id%>">
						</form>
						<center><button class="button" style="width:50%;margin-left:10px;" onclick="goBack()">Back</button>
		 				<script>
		 					function goBack() {
		 						window.history.back();
		 					}
		 				</script></center>

						</div></div></div>
</body>
</html>