<!DOCTYPE html>
<html>
<head>
	<title>Admin Dashboard</title>
	<% include ../partials/head %>

</head></>
<body id="adminlogin">

	<header>
		<% include ../partials/adminHeader%>
	</header>

	<!-- <div class="panel panel-primary">
		<a href="{{route('logout')}}">
			<button class="btn-danger btn pull-right">
				Logout
			</button>
		</a>
	</div> -->

	<!-- if you want to create login page and register page together in one page ...you have to only chnage his name...that's it...                 -->
	<div class="container font" style="margin-top: 3%;">
	  

	  <a href="/admindashboard/advancesearch">
	  <div class="well">
	  	<h2 class="text-left">
	  		<label>Search Post</label>
	  	</h2>
	  </div>
	  </a>

	  <a href="/admindashboard/productlist">
		<div class="well">
	  	<h2 class="text-left">
	  		<label>All Posts</label>
	  	</h2>
	  </div>
	  </a>

	  <a href="/admindashboard/addProduct">
	  <div class="well">
	  	<h2 class="text-left">
	  		<p>
	  			<label>Create Post</label>
	  		</p>
	  	</h2>
	  </div>
	  </a>
	  
	  <a href="/admindashboard/promotions">
	  <div class="well">
	  	<h2 class="text-left">
	  		<label>Promotions</label>
	  	</h2>
	  </div>
	  </a>

	  <a href="/admindashboard/userlist">
	  <div class="well">
	  	<h2 class="text-left">
	  		<label>Users</label>
	  	</h2>
	  </div>
	  </a>

	  <a href="#">
	  <div class="well">
	  	<h2 class="text-left">
	  		<label>Add Admin</label>
	  	</h2>
	  </div>
	  </a>

	  
	</div>
</body>
</html>