<style type="text/css">
    .dd-menu {
  
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0px;
  height: 32px;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #FEFFE1;
  list-style-type: none;
  color: grey;
}
</style>

<nav class="navbar navbar-inverse" style="width: 99%; left: 10px; top:10px">
<div style ="width: 200px; height: 60px">
<a href="/admindashboard/home">
  <img src="https://i.imgur.com/UYzeuSx.png" alt="bg" style="padding:8px; width: 190%; margin-left: 2px; width:75%; ">
</a>
</div>

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <div class="searchresult col-md-9" style="margin-left: 145px; margin-top:-60px;">
              <form method="post" action="/admindashboard/search" class="navbar-form navbar-left" style="margin-top: 5px">
                


                <select name="filter" type="submit" class="dd-menu" align="center" style="width:110px;">
                  
                  <option value="lost_name">Posts</option>
                  <option value="username">User Name</option>
                  <option value="email">User E-Mail</option>
                  
                </select>

                <!-- <input type="text" class="form-control" id="filter" name="filter" required style="width: 30%;"> -->

                <div class="form-group" >
                  <input type="text" class="form-control" id="search" name="search" placeholder="Search" required style="width: 250%;">
                </div>
                <button type="submit" id="submit" class="Sbutton" style="margin-left:520px;margin-top: -35px; width: 98px; height:35px; ">Search</button>

              </form>
      </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-left: 150px;">
      <ul class="nav navbar-nav">
        <li><a href="/admindashboard/home">Home</a></li>
        <li><a href="/admindashboard/productlist">All Posts</a></li>
        <li><a href="/admindashboard/addProduct">Create Post</a></li>
        <li><a href="/admindashboard/promotions">Promotions</a></li>
		    <li><a href="/admindashboard/userlist">Users </a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
    <a href="/logout">
      <button class="btn btn-primary pull-right" style="margin-top:-40px">
        Logout
      </button>
    </a>
  </div><!-- /.container-fluid -->
</nav>