<style>
    .dropdown-content a:hover {background-color: #ABC9E5;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: #719CC4;}

    .box { 
      width: 160px;
      height: 30px;
      padding 3px;
      background: #6A98A7;  
      display:block;
      text-align:center;
      color:#fff;
      transition:all 1s linear;
      text-decoration:none;
      text-shadow:1px 1px 3px rgba(0,0,0,0.3);
      border: none;
      border-radius:3px;
      
    }

    .dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

  .dd-menu {
  
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0px;
  height: 32px;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #FEFFE1;
  list-style-type: none;
  color: grey;
}

}


  </style>

  <nav class="navbar " style="width: 99%; height:105px; left: 10px; top:10px">
    

      <div style ="width: 200px; ">

        
        <a href="/index">
          <img src="https://i.imgur.com/1Rr1Bye.png" alt="bg" style="width: 135px; margin-left: -17px;margin-top: 0;">
        </a>
        

        <div class="dropdown" style="margin-left:180px;top:-77px;">
                <button class="dropbtn" style="margin-top:10px";>Post</button>
                    <div class="dropdown-content">
                        <a href="/user/addProduct">Create Post</a>
                        <a href="/user/productlist">My Posts</a>
            
                    </div>
            </div>

          
        </div>


      

      <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>

        
        <!-- Collect the nav links, forms, and other content for toggling -->
        
      <div class="searchresult col-md-9" style="margin-left: 140px; margin-top:-170px;">
              <form method="post" action="/index/search" class="navbar-form navbar-left" style="margin-top: 5px">
                


                <select name="filter" type="submit" class="dd-menu" align="center" style="width:110px;">
                  
                  <option value="lost_name">Name</option>
                  <option value="last_located">Last Located</option>
                  <option value="origin">Hometown</option>
                  <option value="agent_name">Agent Name</option>
                

                </select>

                <!-- <input type="text" class="form-control" id="filter" name="filter" required style="width: 30%;"> -->

                <div class="form-group" >
                  <input type="text" class="form-control" id="search" name="search" placeholder="Search" required style="width: 350%;">
                </div>
                <button type="submit" id="submit" class="Sbutton" style="margin-left:825px;margin-top: -35px; width: 98px; height:35px; ">Search</button>

                <td><a href="/index/advancesearch" class="Sbutton" style="height:35px ;width:  15%;margin-top: -45px;margin-left:930px">Advance Search</a></td>

              </form>
              </br>
      </div>
                                           
                                                
          <div align="right" style="margin-top:-125px ;margin-right: -5px;">
            <div class="box">
              <h3><%=uname%></h3>
              
            </div>
          </div>
          
          
<div style="margin-left:415px; margin-top: 50px">
          <a href="/index" class="button" style="width: 140px;margin-top: -95px;margin-left: -100px">Home</a>

          <%if(uname =='Not Logged in'){%>
        
        
        <%}%>
          
          <%if(uname!='Not Logged in'){%>
          
          <td><a href="/user/user" class="button" style="width: 140px;margin-top: -52px;margin-left:55px">Profile</a></td>
          <td><a href="/logout" class="button" style="width:  140px;margin-top: -53px;margin-left:210px"">Logout</a></td>
          
          <%}%>
          
          </div>

<%if(uname =='Not Logged in'){%>
                          <div class="dropdown pull-right" style="margin-top:-120px;left: -700px;">
                          <button class="dropbtn" >Login</button>
                            <div class="dropdown-content">
                              <a href="/login">Login</a>
                              <a href="/reg">Register</a>
                          
                            </div>    
                          </div>
<%}%>

        </div>

</div>

        
        
      </ul>
                                       
  </nav>