<style>
.dropdown-content a:hover {background-color: #ff6536;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: ff6536;}


</style>

<nav class="navbar navbar-inverse" style="width: 99%; left: 10px; top:10px">
<div style ="width: 200px; height: 190px">
<div class="dropdown" style="margin-left:450px;margin-top:130px;">
          <button class="dropbtn" style="margin-top:10px";>Post</button>
            <div class="dropdown-content">
              <a href="/user/addProduct">Create Post</a>
              <a href="/user/productlist">My Posts</a>
            
            </div>
        </div>

        <div class="dropdown" style="margin-left:705px;top:-52px;">
          <button class="dropbtn" style="margin-top:10px";>Login</button>
            <div class="dropdown-content">
              <a href="/login">Login</a>
              <a href="/reg">Register</a>
            
            </div>
        </div>


<a href="/index">
  <img src="https://i.imgur.com/oimnaW0.png" alt="bg" style="width: 190%; margin-left: 2px; margin-top:-235px ">
</a>


</div>

  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    
        <!-- Collect the nav links, forms, and other content for toggling -->
        
      
      <div style="margin-left:540px;margin-top: -20px;">

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
              
      <td><a href="/index" class="button" style="width:  10%;margin-top: -30px;margin-left:20px">Home</a></td>
      <td><a href="/user/user" class="button" style="width:  10%;margin-top: -52px;margin-left:275px">Profile</a></td>
      <td><a href="/logout" class="button" style="width:  10%;margin-top: -51px;margin-left:392px"">Logout</a></td>

      
      </div>

      <div class="searchresult col-md-9">
          <form method="post" action="/index/search" class="navbar-form navbar-left" style="margin-left:-450px; margin-top:10px">
            <div class="form-group">
              <input type="text" class="form-control" id="search" name="search" placeholder="Search" required style="width: 650%;">
            </div>
            <button type="submit" id="submit" class="button" style="margin-left:1350px;margin-top: -35px; width: 98px; height:35px; ">Search</button>
          </form>

            <br><br>
            </div>
        </div>

        
        <ul class="nav navbar-nav navbar-right" style="margin-top:-200px">
          
          <h1><%=uname%></h1>
        
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>