<nav class="navbar navbar-inverse" style="width: 99%; left: 10px; top:10px">
<div style ="width: 200px; height: 190px">
<a href="/index">
  <img src="https://i.imgur.com/oimnaW0.png" alt="bg" style="width: 190%; margin-left: 2px; margin-top: ">
</a>
</div>

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/index">Home</a></li>
            <li><a href="/user/user">Profile</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/reg">Register</a></li>
            <li><a href="/logout">Logout</a></li>
            
          </ul>
        </li>
      </ul>
      
      <div style="margin-left:570px">
      <td><a href="/user/addproduct" class="button" style="width:  10%;margin-left: -130px;margin-top: -70px">Create Post</a></td>
      <td><a href="/index" class="button" style="width:  10%;margin-top: -51px">Home</a></td>
      <td><a href="/login" class="button" style="width:  10%;margin-top: -53px;margin-left:150px">Login</a>
      <td><a href="/reg" class="button" style="width:  10%;margin-top: -53px;margin-left:290px">Register</a>
      <td><a href="/user/user" class="button" style="width:  10%;margin-top: -53px;margin-left:430px">Profile</a></td>
      <td><a href="/logout" class="button" style="width:  10%;margin-top: -53px;margin-left:570px"">Logout</a></td>

      
      </div>

      <div class="searchresult col-md-9">
          <form method="post" action="/index/search" class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" id="search" name="search" placeholder="Search" required style="width: 600%;margin-top:-5px">
            </div>
            <button type="submit" id="submit" class="btn btn-default" style="margin-left: 1000px;margin-top: -5px; width: 98px ">Search</button>
          </form>
        </div>
        
        <ul class="nav navbar-nav navbar-right" style="margin-top:-200px">
          <h1><%=result[10]%></h1> 
        </ul>
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>