<nav class="navbar navbar-inverse" style="width: 99%; height: 145px; left: 10px; top:10px">
    <div align="left" style="margin-top: -20px; width: 100%">
      
        <a href="/index">
          <img src="https://i.imgur.com/g5DLy80.jpg" alt="bg" style="width: 12%; margin-left: 2px;">
        </a>
        

    </div>
    </nav>