<!DOCTYPE html>
<html>
<head>
	<title>Add Product</title>
	<% include ../partials/head %>
	 
	<style>
 	img {
 		display: block;
 		margin-left: auto;
 		margin-right: auto;
 		border-radius:8px;
 	
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

div.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius:8px;
  padding:4px;
  background-image: url("img_tree.gif"), url("paper.gif");
}

div.container {
  text-align: center;
  background-image: url("img_tree.gif"), url("paper.gif");

  
}


/*a:hover {
    background-color: #ddd;
    color: black;
}*/

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}



 		

 		
 	</style>
</head>
<body id="index">

	<header>
		<% include ../partials/header%>
	</header>






	
		<div class="row" style="margin-left:200px;">

			<div class="col-md-5 full-panel">
				<div class="panel panel-primary" style="width: 200%;; margin-top: -50px">
					<div class="panel-heading font" style="width: 101%; margin: auto;">
					<center><form action="/user/upload" id="picUploader" method="POST" enctype="multipart/form-data">
									<h1 ><strong>Enter Lost Person's descritions</strong></h1>
							        <label class="font">Image</label>
							        <input class="btn btn-primary" name="myImage" type="file">
							        <button class="Submitbutton">Add To Form</button>
							      	<br>
							      	

							      	<div class="polaroid" style="width: 260px; height:260px;">
							      	  <img src ="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png" style="width:250px;height:250px">
							      	  <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img" style="margin-top:-250px;width:250px;height:250px">
							      	  
							      	</div>
							    </form> </center>

						
						<div class="tab-content">
							<div id="home" class="tab-pane fade in active">

								<% if(typeof errors !== 'undefined'){ %>
								<div class="alert alert-danger">
									<% for(var i = 0; i < errors.length; i++){ %>
									<p>*<%= errors[i].message %></p>
									<% } %>
								</div>
								<% } %>

								<div class="container"
								<img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
							    
							    
    
							    </div>
							    <br><br>
								<form method="post" action="/user/addproduct">

									<div class="form-group font">
										<label for="productname" class="font">Person's Name:</label>
										<input type="text" required class="form-control font" id="productname" name="productname">
									</div>

									<div class="form-group font">
										<label for="price" class="font">Age:</label>
										<input type="text" required class="form-control font" id="price" name="price">
									</div>

									<div class="form-group">
										<label for="quantity" class="font">Image:</label>
										<input type="text" value="<%= typeof file != 'undefined' ? file : '' %>"  class="form-control font" id="quentity" name="quantity">
									</div>

									<div class="form-group">
										<label for="catagory" class="font">Last_located:</label>
										<input type="text" required class="form-control font" id="catagory" name="catagory">
									</div>

									<div class="form-group">
										<label for="origin" class="font">Origin:</label>
										<input type="text" required class="form-control font" id="origin" name="origin">
									</div>

									<div class="form-group">
										<label for="category" class="font">Category:</label> <br>
										<select style="height: 35px ;color: grey;" id="category" name="category" >
											<option value="lost">Lost</option>
											<option value="found">Found</option>
										</select>
									</div>

									<div class="form-group">
										<label for="agent_name" required class="font">Agent Name:</label>
										<input type="text" class="form-control font" id="agent_name" name="agent_name">
									</div>

									<div class="form-group">
										<label for="details" required class="font">Contact:</label>
										<textarea class="form-control font" id="details" name="details"></textarea>
									</div>

									<!--SHIPPING METHOD END-->
									<!--CREDIT CART PAYMENT-->
									<div class="panel panel-info">
										<div class="panel-heading"><span><i class="glyphicon glyphicon-lock"></i></span> Secure Payment</div>
										<div class="panel-body">
											<div class="form-group">
												<div class="col-md-12"><strong>Card Type:</strong></div>
												<div class="col-md-12">
													<select id="promotion" name="promotion" class="form-control" style="margin: auto; width: 20%">
														<option value="0">None</option>
														<option value="100">100/- BDT</option>
														<option value="200">200/- BDT</option>
														<option value="400">400/- BDT</option>
													</select>
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-12"><strong>Card Type:</strong></div>
												<div class="col-md-12">
													<select id="CreditCardType" name="CreditCardType" class="form-control">
														<option value="5">-Card Type-</option>
														<option value="5">Visa</option>
														<option value="6">MasterCard</option>
														<option value="7">American Express</option>
														<option value="8">Discover</option>
													</select>
												</div>
											</div>
											<div class="form-group">
												<div class="col-md-12"><strong>Credit Card Number:</strong></div>
												<div class="col-md-12"><input type="text" class="form-control" name="car_number" value="Credit Card Number:" /></div>
											</div>
											<div class="form-group">
												<div class="col-md-12"><strong>Card CVV:</strong></div>
												<div class="col-md-12"><input type="text" class="form-control" name="car_code" value="Card CVV:" /></div>
											</div>
											<div class="form-group">
												<div class="col-md-12">
													<strong>Expiration Date</strong>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
													<select class="form-control" name="month">
														<option value="">Month</option>
														<option value="01">01</option>
														<option value="02">02</option>
														<option value="03">03</option>
														<option value="04">04</option>
														<option value="05">05</option>
														<option value="06">06</option>
														<option value="07">07</option>
														<option value="08">08</option>
														<option value="09">09</option>
														<option value="10">10</option>
														<option value="11">11</option>
														<option value="12">12</option>
													</select>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
													<select class="form-control" name="year">
														<option value="">Year</option>
														<option value="2018">2018</option>
														<option value="2019">2019</option>
														<option value="2020">2020</option>
														<option value="2021">2021</option>
														<option value="2022">2022</option>
														<option value="2023">2023</option>
														<option value="2024">2024</option>
														<option value="2025">2025</option>
														<option value="2025">2026</option>
														<option value="2025">2027</option>
														<option value="2025">2028</option>
													</select>
												</div>
											</div>
											<div class="form-group">
												<div class="col-md-12">
													<span>Pay secure using your credit card.</span>
												</div>
												<div class="col-md-12">
													<ul class="cards">
														<li class="visa hand">Visa</li>
														<li class="mastercard hand">MasterCard</li>
														<li class="amex hand">Amex</li>
													</ul>
													<div class="clearfix"></div>
												</div>
											</div>
											
										
									</div></div>

									<!-- <input type="submit" class="btn btn-primary btn-lg font" value="Submit"> -->
									<center>
										<button type="submit" class="btn btn-primary btn-lg font" style="width:30%" id="submit">Create</button>
									</center>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div></div></div>

