<!DOCTYPE html>
<html>
<head>
	<title>Add Product</title>
	<% include ../partials/head %>
</head>
<body id="login">

	<header>
		<% include ../partials/header%>
	</header>

		<!-- Last Located -->
		<div class="container font" >
		<div class="row">
			<div class="col-md-5 full-panel">
				<div class="panel panel-primary" style="width: 145%;">
					<div class="panel-heading font" style="height: 100px; width: 100%; margin: auto;">

						
						<div class="tab-content">
							<div id="home" class="tab-pane fade in active">
								<form method="post">
									<div class="form-group font">
										<label for="productname" class="font">Last Located</label>
										
											<input type="text" class="form-control" id="search" name="search" placeholder="Search" required style="width: 82%;">
																		
										<button style="margin-left: 550px; margin-top: -60px;" type="submit" class="btn btn-primary btn-lg font" id="submit">search</button></div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div></div></div>

			<!-- Origin -->
		<div class="container font">
		<div class="row" style="margin-top: -80px">
			<div class="col-md-5 full-panel">
				<div class="panel panel-primary" style="width: 145%;">
					<div class="panel-heading font" style="height: 100px; width: 100%; margin: auto;">

						
						<div class="tab-content">
							<div id="home" class="tab-pane fade in active">
								<form method="post">
									<div class="form-group font">
										<label for="productname" class="font">Origin / Home Town</label>
										
											<input type="text" class="form-control" id="search" name="search" placeholder="Search" required style="width: 82%;">
																		
										<button style="margin-left: 550px; margin-top: -60px;" type="submit" class="btn btn-primary btn-lg font" id="submit">search</button></div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div></div></div>

	

</body>
</html>