<!DOCTYPE html>
<html>
<head>
	<title>Add Product</title>
	<% include ../partials/head %>

	<style>
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;

	}
	a {
		text-decoration: none;
		display: inline-block;
		padding: 8px 16px;
	}
	</style>
	</head>
	<body id="advsearch">

	<header>
	<% include ../partials/header%>
	</header>


	<div class="container font"
	<div class="row" style="margin-top: -80px;">
	<div class="col-md-5 full-panel">
	<div class="panel panel-primary" style="width: 660px;">
	<div class="panel-heading" style="height: 300px; width: 660px; margin: auto;">


	<div class="tab-content" style="width:121%">
	<div id="home" class="tab-pane fade in active">
	<form method="post">

	<div class="form-group font">

	<label for="lost_name" class="font">Name</label>

	<input type="text" class="form-control" id="lost_name" name="lost_name" placeholder="Search" style="width: 82%;">

	</div>



	<div class="form-group font">

	<label for="last_located" class="font">Last Located</label>

	<input type="text" class="form-control" id="last_located" name="last_located" placeholder="Search" style="width: 82%;">

	</div>


	<div class="form-group font">
	<label for="origin" class="font">Origin / Home Town</label>

	<input type="text" class="form-control" id="origin" name="origin" placeholder="Search" style="width: 82%;">

	</div>

	<div class="form-group font">
	<label for="age" class="font">Age</label>

	<br>
	<select style="color: black;" id="age" name="age">
	<option value="0">Select</option>
	<option value="10"><10</option>
	<option value="20">10-20</option>
	<option value="30">20-30</option>
	<option value="40">30-40</option>
	<option value="50">40-50</option>
	<option value="60">50-60</option>
	<option value="70">60-70</option>
	<option value="80">70-80</option>
	<option value="90">>80</option>
	</select>																		
	<button style="margin-left: 480px; margin-top: -10px;" type="submit" class="btn btn-primary btn-lg font" id="submit">search</button></div>
	</form>
	</div>
	</div>
	</div>
	</div>
	</div></div></div>




	</body>
	</html>