<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<% include ../partials/head %>
	<style>
	img {
 		display: block;
 		margin-left: auto;
 		margin-right: auto;
 	
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

</style>
</head>
<body id="index">

	  <nav class="navbar " style="width: 99%; height:105px; left: 10px; top:10px">
    

      <div style ="width: 200px; ">

        
        <a href="/index">
          <img src="https://i.imgur.com/UYzeuSx.png" alt="bg" style="width: 135px; margin-left: -17px;margin-top: 0;">
        </a>

        <a href="/index" class="button" style="width:  130px;margin-top: -67px;margin-left:180px">Back</a>
        

    </div>
    </nav>

	
	<img src="images/nikhojCover.jpg" alt="bg" style="width: 99%;margin-left:auto; margin-top: 42px">

	<!--<div class="container" style="margin-right: -680px;margin-top: -80px"> /-->

		<div class="container" style=" width:71%; margin-top: -550px;">

			<div class="row">
				<div class="col-md-5 full-panel">
					<div class="panel panel-primary">
						<div class="panel-heading font">
							<span class="glyphicon glyphicon-lock"></span> Login</div>
							<div class="panel-body">
								<% if(typeof errors !== 'undefined'){ %>
								<div class="panel panel-warning">
									<% for(var i = 0; i < errors.length; i++){ %>
									<p class="text-center text-danger"><%= errors[i].message %></p>
									<% } %>
								</div>
								<% } %>

								<% if(typeof errorMessage !== 'undefined'){ %>
								<div class="panel panel-warning">
									<p class="text-center text-danger"><%= errorMessage.message %></p>
								</div>
								<% } %>

								<form class="form-horizontal" role="form" method="post">
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-3 control-label font">
										Username</label>
										<div class="col-sm-9">
											<input type="text" class="form-control font" id="inputEmail3" placeholder="Username" name="username">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-3 control-label font">
										Password</label>
										<div class="col-sm-9">
											<input type="password" class="form-control font" id="inputPassword3" placeholder="Password" name="password">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-9">
											<div class="checkbox">
												<label class="font">
													<input type="checkbox"/>
													Remember me
												</label>
											</div>
										</div>
									</div>
									<div class="form-group last">
										<div class="col-sm-offset-3 col-sm-9">
											<button type="submit" class="btn btn-success btn-sm font glyphicon glyphicon-log-in"> Login</button>
											<button type="reset" class="btn btn-default btn-sm font">
											Reset</button> <br><br>
											<a href="/adminlogin" style="width: 100px;" class="btn btn-primary">I am Admin</a>
										</div>
									</div>
								</form>
								<button type="submit" class=" pull-right btn-link font"><a href="www.google.com">Forget password</a></button><br>




							</div>
							<div class="panel-footer font">
								Not Registred? <a href="./reg">Register here</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</body>
		</html>