<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<img src="https://i.imgur.com/WTfOQet.jpg" alt="buybyclick" style="width:1650px;height:300px;">
	<h2><center>Welcome Home <%= name %></center></h2>
	<center><a href="/categories">Categories</a> | 
	<a href="#">Products</a> |
	<a href="/logout">Logout</a>
</center>

	
	<a href="/login">Login</a> |
	<a href="/registration">Registration</a>

</body>
</html>