<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Welcome Home <%= name %></h2>
	<a href="/categories">Categories</a> | 
	<a href="#">Products</a> |
	<a href="/logout">Logout</a>
</body>
</html>